@import "fibonacci-styles";

button.close {
  position: absolute;
  display: block;
  width: $fib-8 * 1px;
  height: $fib-8 * 1px;
  right: 0;

  font-size: large;
  color: var(--color-text-primary);
  background: none;
  border: none;
}

.adjusted {
  margin-right: $fib-8 * 1px;
}
